$color-white: #fff;
$color-black: #000;
$color-blue-light:  #adc8e5;
$color-blue-dark: #5893cf;
$color-blue-light-2: #5c91e1;
$color-blue-dark-2: #75c9ff;

$directory: "/cuwebsite";

$box-shadow: 10px 10px 97px -17px rgba(66,59,66,1);
