.btn{
    border-radius: 5px;
    text-decoration: none;
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    font-size: 1.5rem;
    box-shadow: 10px 10px 35px -6px rgba(77,76,77,1);
    transition: all .3s;
    border: none;
}

.btn--blue{
    background: $color-blue-dark;
}

.btn:hover{
    transform: translateY(-.5rem) scale(1.03);
}

.btn--white{
    background: #ffffff;
    color: #000000;
    padding: 1.5rem 3rem;
    letter-spacing: 4px;
    font-weight: bold;
    font-size: 3rem;
    text-transform: uppercase;
    font-family: inherit;
}

.btn--small{
    width: 24rem;
}
